# Example environment variables configuration file
# Rename this file to .env and fill in your values

# Jarvis API Configuration
AUTH_API_URL=https://auth-api.dev.jarvis.cx
JARVIS_API_URL=https://api.dev.jarvis.cx
KNOWLEDGE_API_URL=https://knowledge-api.dev.jarvis.cx
JARVIS_API_KEY=your_api_key_here

# Jarvis API Stack Configuration
STACK_PROJECT_ID=a914f06b-5e46-4966-8693-80e4b9f4f409
STACK_PUBLISHABLE_CLIENT_KEY=pck_tqsy29b64a585km2g4wnpc57ypjprzzdch8xzpq0xhayr
VERIFICATION_CALLBACK_URL=https://auth.dev.jarvis.cx/handler/email-verification?after_auth_return_to=%2Fauth%2Fsignin%3Fclient_id%3Djarvis_chat%26redirect%3Dhttps%253A%252F%252Fchat.dev.jarvis.cx%252Fauth%252Foauth%252Fsuccess

# Google Authentication Configuration
GOOGLE_DESKTOP_CLIENT_ID=your_desktop_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# AI API Keys
GEMINI_API_KEY=your_gemini_api_key_here
OPENAI_API_KEY=your_openai_api_key_here
